@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFFFFF;
    color: #444444;
}
h1,h2,h3 {
    margin: 0;
}
.title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: #000000;
}
.btn {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.reset_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.visually_hidden {
    display: none;
}
/* HEADER */
.page_header {
    color: #000000;
    background-color: #FFE17F;
    min-height: 300px;
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}
.header_container {
    width: 1041px;
    margin: 0 auto;
}
.logo {
    display: block;
    margin-bottom: 35px;
    margin-top: -23px;
}
.navigation_container {
    display: grid;
    grid-template-columns: 1fr 500px;
    margin-bottom: 29px;
}
.search {
    width: 516px;
}
.nav_user_list {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    column-gap: 40px;
}

.navigation_user_container {
    display: grid;
    grid-template-columns: 1fr 500px;
}
.nav_catalog {
    width: 516px;
}
.nav_list {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content 1fr;
    column-gap: 19px;
}
.nav_item:last-child {
    justify-self: end;
}

.search_form_input::-webkit-input-placeholder { 
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
}
.nav_user_link {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    color:#000000;
}

.nav_link {
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.dropdown {
    display: none;
}
.dropdown_link {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: none; 
}

/* MAIN */
.main_container {
    flex-grow: 1;
}
.main_index {
    background-color: inherit;
    color: inherit;
}
.page_container {
    width: 1160px;
    margin: 0 auto;
}
/* MAIN SLIDER */

.main_slider {
    margin-bottom: 70px;
}
.slider {
    display: flex;
    position: relative;
}
.slider_img {
    width: 560px;
    margin-top: -150px;
    margin-left: 20px;
}
.slider_main {
    width: 560px;
    margin-left: auto;
    margin-top: -30px;
}
.slider_main_title {
    display: inline-block;
    margin-bottom: 19px;
}
.slider_main_description {
    margin: 0;
    margin-bottom: 50px;
}
.slide_2 {
    display: none;
}
.slide_3 {
    display: none;
}
.link_pagination_wrapper {
}
.slider_pagination {
}
.slider_main_link {
    color: #000000;
    margin-bottom: 70px;
}
.benefits {
    display: flex;
}
.benefits_item {
    min-width: 160px;
}
.benefits_title {
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    margin-bottom: 11px;
}
.benefits_description {
    margin: 0;
    font-size: 16px;
}
/* CATEGORIES */
.categories_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 169px;
}
.categories_item {
    width: 160px;
    
}
.categories_image {
    width: 160px ;
    height: 160px ;
    background-color: #FFE17F ;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
}

.categories_description {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 24px;
    color: #000000;
    margin: 0;
    min-width: 160px;
    letter-spacing: -0.3px;
}
/* SERVICES */
.services {
    background-color: #F0F0F0;
    margin-bottom: 90px;
}

.services_container {
    display: flex;
}
.services_info {
    display: flex;
    flex-direction: column;
}
.services_info_right_not_active {
    display: none;
}
.services_label {
    width: 280px;
}
.services_description {
    width: 500px;
}
.services_image {
    display: block;
}
/* DELIVERY RARE GOODS */
.delivery_rare_goods {
    display: flex;
    background-color: #F0F0F0;
    margin-bottom: 146px;
}
.delivery_img {
    width: 125px ;
    height: 100px ;
    background-color: #FFE17F ;
    display: block;
}
.delivery_wrapper {
    display: flex;
}
.rare_goods {
    width: 1000px;
}
.rare_goods_text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 23px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}
.rare_goods {
    text-decoration: none;
}
/* ABOUT */
.about_container {
    margin-bottom: 87px;
    display: flex;
}
.about_item {
    font-weight: 700;
    line-height: 20px;
    color: #000000;
}
/* CONTACTS */
.contacts_subtitle {
    font-size: 24px;
    font-weight: 700;
}
.mailing {
    margin-bottom: 131px;
}
.mailing_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.mailing_search_container {
    display: flex;
    justify-content: space-between;
}
.title mailing_title {
    width: 560px;
}
.mailing_description {
    width: 560px;
}
.mailing_search_form_input {
    width: 600px;
}
.mailing_search_form_submit {
    width: 260px;
}
/* FOOTER */
.page_footer {
    background-color: #444444;
    width: 1160px;
    margin: 0 auto;
}
.footer_container {
    display: flex;
}
.footer_logo {
    display: block;
    margin-top: 62px;
}
.footer_about_text {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer_nav_link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.footer_contacts_phone {
    font-size: 16px;
    color: #FFFFFF;
}
.social {
    display: flex;
}
.footer_nav_list {
    display: flex;
}
.social_item{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 40px;
    height: 40px;
}
.footer_contacts {
    margin-left: auto;
}
.contacts_wrapper{
    display: flex;
    flex-direction: column;
}



/* Catalog */
.main_inner {
    color: #000000;
    background-color: #FFFFFF;
}
.nav_exit {
    color: rgba(0, 0, 0, 0.3);
}
.nav_profile {
    margin-right: 28px;
}
.open {
    color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs {
    display: flex;
}
.breadcrumbs_link {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.catalog_products {
    display: flex;
}
.catalog_filter {
    width: 200px;
    margin-right: 140px;
}

.catalog_products_title {
    font-weight: 700;
    line-height: 20px;
}
.catalog_filter_title {
    font-weight: 700;
    line-height: 20px;
}

.catalog_filter_label {
    font-size: 15px;
    line-height: 18px;
}
.control_label {
    font-size: 16px;
    line-height: 19px;
}
.sorting_type_title {
    font-weight: 700;
    line-height: 20px;
}
.product_card_link {
    text-decoration: none;
    color: inherit;
}
.product_card_title {
    font-weight: 700;
    line-height: 24px;
}
.products_card_price {
    line-height: 21px;
    color: #444444;
}

.pagination_show_more {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    text-align: center;
}
.pagination_link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: rgba(68,68,68,0.3);
}



